div#header {
	background-color: #F8F8F8;
	padding: 20px;
	border-bottom: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div#title-subtitle {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

h1#title {
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}

div#subtitle {
	margin-top: 0px;
	margin-bottom: 0px;
}

div#body {
	min-height: 100vh;
}

.carousel-control-prev-icon {
	background-color: grey;
	border-radius: 5px;
}

.carousel-control-next-icon {
	background-color: grey;
	border-radius: 5px;
}

div#description {
	margin-top: 50px;
	color: black;
}

div#footer {
	text-align: center;
	background-color: #F8F8F8;
	padding: 20px;
	border-top: 1px solid lightgrey;
}

div#copyright-abn {
	font-size: smaller;
	color: black;
}

a#contact {
	font-size: small;
}

a#privacy {
	font-size: small;
}